* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("https://c.wallhere.com/photos/62/db/bricks-118325.jpg!d");
  background-size: cover;
  letter-spacing: 0.09rem;
  /* font-family: 'Luxurious Roman', cursive; */
  font-family: 'Roboto Condensed', sans-serif; }

.mapa1 {
  font-size: 12px;
  font-weight: 600;
  color: #DC2ADE; }

.mapa2 {
  font-size: 16px;
  font-weight: 600;
  color: #DC2ADE; }

.mapa3 {
  font-size: 20px;
  font-weight: 600;
  color: #DC2ADE; }

/* HEADER */
.header {
  position: sticky;
  top: 2px;
  z-index: 10;
  /* NAVEGADOR */
  /* LOGO Y BUSCADOR */ }
  .header .nav {
    background: rgba(255, 255, 255, 0.6);
    width: 97%;
    margin: 1rem auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .nav .nav_ul {
      display: flex;
      align-items: center;
      justify-content: center; }
      .header .nav .nav_ul .nav_li {
        list-style: none;
        padding: 1rem; }
        .header .nav .nav_ul .nav_li .nav_links {
          color: #DC2ADE;
          text-decoration: none;
          padding: 0.7rem;
          margin: 1rem;
          font-size: 17px;
          font-weight: 600;
          border-radius: 20px; }
          .header .nav .nav_ul .nav_li .nav_links:hover {
            border-top: #323EDD solid 2px;
            transition: all 0.5s ease-out; }
        .header .nav .nav_ul .nav_li .nav_sub {
          list-style: none;
          margin-top: 15px;
          margin-left: 15px;
          width: 150px;
          background-color: #323EDD;
          border-radius: 10px;
          border-left: solid 1px black;
          border-right: solid 1px black; }
          .header .nav .nav_ul .nav_li .nav_sub .sub_li {
            text-align: left;
            padding: 5px;
            margin: 5px;
            background: #323EDD;
            border-bottom: groove 1px black;
            transition: all 0.9s ease; }
            .header .nav .nav_ul .nav_li .nav_sub .sub_li .sub_links {
              color: white;
              text-decoration: none;
              font-size: 15px;
              font-weight: 400; }
              .header .nav .nav_ul .nav_li .nav_sub .sub_li .sub_links:hover {
                background-color: black;
                border-radius: 10px;
                transform: scale(1.07);
                transition: all 1s ease; }
  .header .img_logo {
    width: 80%;
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: infinite; }

@keyframes logo {
  0% {
    transform: scale(1);
    filter: brightness(1); }
  50% {
    transform: scale(1.05);
    filter: brightness(1.5); }
  100% {
    transform: scale(1);
    filter: brightness(1); } }

/* SLIDER */
.main {
  width: auto;
  /* SECTION INDEX */ }
  .main .slider {
    width: 95%;
    max-height: 35rem;
    overflow: hidden;
    margin: 30px auto; }
  .main .sectionIndex {
    width: 75%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 15px; }
    .main .sectionIndex .tdestacado {
      color: #DC2ADE;
      font-weight: bold;
      font-size: larger; }
    .main .sectionIndex .textoSection {
      text-align: center;
      padding: 0.05rem;
      font-weight: bold; }

/* PRODUCTOS DESTACADOS */
.destacados {
  width: 55%;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem;
  margin-bottom: 15px;
  text-align: center;
  justify-content: space-evenly;
  font-weight: 500;
  color: #DC2ADE;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px; }
  .destacados:hover {
    transform: rotateY(25deg) scale(1.1);
    cursor: pointer;
    transition: all 0.1s ease-out; }

.div_destacados {
  width: 88%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .div_destacados .cont_productos {
    height: 350px;
    width: 200px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 2px 2px;
    background-color: white;
    border: 2px solid #323EDD;
    border-radius: 10px;
    transition: all 0.7s; }
    .div_destacados .cont_productos:hover {
      transform: translateY(-5px) scale(1.05);
      border: solid #DC2ADE 2px; }
    .div_destacados .cont_productos .card {
      height: 40px;
      width: 100%;
      margin-bottom: 170px; }
      .div_destacados .cont_productos .card img {
        margin: auto;
        display: block;
        height: 190px;
        width: 190px; }
    .div_destacados .cont_productos .info {
      height: 70px;
      width: 90%;
      margin: 0 auto;
      border-bottom: solid 1px #323EDD;
      border-top: solid 1px #323EDD; }
      .div_destacados .cont_productos .info h2 {
        font-size: 0.99em;
        text-align: center;
        margin-bottom: 0.3em;
        margin-top: 0.3rem; }
      .div_destacados .cont_productos .info p {
        text-align: center;
        font-size: .9em;
        color: #555; }
    .div_destacados .cont_productos .precio {
      height: 50px;
      width: 87%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .div_destacados .cont_productos .precio .box_precio {
        width: 80px; }
        .div_destacados .cont_productos .precio .box_precio .precio1 {
          color: red;
          font-size: .8em; }
        .div_destacados .cont_productos .precio .box_precio .precio2 {
          font-size: 1.5em; }
      .div_destacados .cont_productos .precio .shoping {
        font-size: 1.5em;
        color: #555; }

/* FORMULARIO CONTACTO */
.formContainer {
  width: 50%;
  margin: 1rem auto;
  padding: 1.5rem 1rem;
  background-color: #323EDD;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3); }

.formContainerFooter {
  width: 50%;
  margin: 0.5rem auto;
  padding: 1rem 1rem;
  background-color: rgba(199, 53, 192, 0.8);
  border-radius: 1rem; }

.form {
  text-align: center; }

.form__label {
  display: inline-block;
  width: 60%;
  text-align: left;
  color: white;
  font-weight: 600; }

.form__input, .form__textarea {
  width: 60%;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #060941;
  color: white;
  border: none;
  border-bottom: solid 1px #c87d5d;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem; }

.form__textarea {
  height: 5rem;
  resize: none; }

.form__input:focus, .form__textarea:focus {
  outline: none; }

.form__input--submit {
  background-color: #040f9e;
  margin-top: 1.5rem;
  border-radius: 0.3rem;
  border-bottom: none;
  font-weight: 700;
  cursor: pointer; }

.form__input--submit:hover {
  background-color: #14195f; }

/* PAGINA IMG */
.imgPagina {
  max-height: 22rem;
  overflow: hidden;
  margin-bottom: 2rem; }
  .imgPagina img {
    display: block;
    width: 95%;
    margin: 1rem auto;
    border-radius: 20px; }

/* FOOTER */
.footer {
  width: 98%;
  background: rgba(255, 255, 255, 0.6);
  margin: 1rem auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px; }
  .footer .imgfooter {
    width: 90%;
    margin: -25px auto; }
  .footer .logo_footer {
    width: 50%;
    display: block;
    margin: 0 auto; }
  .footer .texto_footer {
    text-align: center;
    color: black; }

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .formContainerFooter {
    width: 90%; }
  .formContainer {
    width: 70%; }
  .div_destacados {
    width: 100%; }
  .cont_productos {
    margin: 2px 2px; } }

@media (max-width: 425px) {
  /* .slider{
        display: none; */
  /* } */
  .formContainer {
    width: 90%; }
  .cont_productos {
    margin: 0;
    padding: 0;
    width: 100%; } }
