
/* MEDIA QUERIES */


@media(max-width:768px){
    .formContainerFooter{
        width: 90%;
    }
    .formContainer{
        width: 70%;
    }
    .div_destacados{
        width: 100%;
    }
    .cont_productos{
        margin:2px 2px;
    }
}

@media(max-width:425px){
    /* .slider{
        display: none; */
    /* } */
    .formContainer{
        width: 90%;
    }
}