
// /* MEDIA QUERIES */

@media(max-width:768px){
    .formContainerFooter{
        width: 90%;
    }
    .formContainer{
        width: 70%;
    }
    .div_destacados{
        width: 99%;
    }
    .footer .whatsapp{
        bottom: 20px;
        right: 20px;
        width: 70px;
    }
}

@media(max-width:469px){
    .formContainer{
        width: 90%;
    }
    .destacados{
        width: 70%;
    }
    .footer .whatsapp{
        bottom: 10px;
        right: 10px;
        width: 60px;
    }
    .div_destacados .cont_productos{
        width: 300px;
    }
}