
/* MEDIA QUERIES */

@media(max-width:768px){
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formContainerFooter{
        width: 80%;
    }
    .formContainer{
        width: 80%;
    }
    .div_destacados{
        width: 100%;
    }
    .cont_productos{
        margin:2px 2px;
    }
}

@media(max-width:425px){
    /* .slider{
        display: none; */
    /* } */
    .formContainerFooter{
        width: 90%;
}
    .formContainer{
        width: 90%;
    }
}