/* FOOTER */
.footer{
    width: 98%;
    background: rgba(255, 255, 255, 0.6);
    margin: 1rem auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20%;
    .imgfooter{
        width: 90%;
        margin:-25px auto;
    }
    .logo_footer{
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .texto_footer{
        text-align: center;
        color:black;
    }
    .whatsapp{
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 80px;
        border-radius: 50%;
    }
}

